{% extends 'base.html' %}

{% block content %}

    <div class="post">
        <h1>Hi! Please enter your name!</h1>
        <form action="/app/" method="post"> {% csrf_token %}
            <p>{{ message }}</p>
             {{ form.as_p }}
            <input type="submit" value="Add name"/>
        </form>
        <a href="{% url 'random_names' %}"><input type="submit" class="button_active" value="Get winners"></a>
        <p>If you want to delete your name, click: <a href="{% url 'delete-name' %}"><input type="submit" class="button_active" value="Delete name"></a></p>
    </div>

{% endblock %}